@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: 0.5rem;
}

.socials,
.projects {
	display: flex;
	justify-content: center;
	margin-top: 35px;
	width: 100%;
}

.socials a,
.projects a {
	margin: 0 30px;
	display: inline-block;
	text-align: center;
}

.socials p,
.projects p {
	color: #fc28a6;
}

.social-icon {
	font-size: 5rem;
}

body {
	background: linear-gradient(190deg, #4428fc, #5e53a7);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
